body {
    display: flex;
    background-color: #0F1011;
    color: #fff;
    font-size: 14px;
    text-align: center;
    height: 100vh;
}
.flex {
    display: flex;
    flex-direction: column;
}
.login-contanier {
    justify-content: center;
    background-color: #1d1d1d;
    max-height: 100%;
    margin: auto;
    width: 500px;
    padding: 60px 60px;
    border: solid #222222;
    border-width: 3px 0px;
    border-radius: 8px;
    gap: 15px;
}
.logo{
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 10px;
}

.logo img{
    width: 60px;
}

.logo span{
    font-size: 36px;
    font-weight: 600;
}

.wc-contanier{
    gap: 10px;
}


.login-form {
    gap: 14px;
}

.login-form input{
    width: 100%;
    height: 50px;
    color: #6C6C6C;
    background-color: #0F1011;
    padding: 14px 20px;
    border: solid 2px #222222;
    border-radius: 10px;
    transition: border-color ease-in-out 0.3s;
}

.login-form input:focus{
    border:solid 1px #2486E8;
    outline: none;
}

.login-form button{
    margin: 0px 2px;
}

.submit-button {
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 20px;
    background-color: #2486E8;
    color: #fff;
    border-radius: 10px;
}

.google-button {
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 14px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.google-button img{
    width: 22px;
}

.font-g{
    color: #B6B6B6;
}

.font-g a {
    color: #fff;
    text-decoration: none;
}

